body {
    padding: 0; margin: 0; text-align: center; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; font-size: 12pt;
}

h1 {
    padding: 30px 10%; margin: 0; width: 80%; background: #9be3d6; color: white; text-transform: uppercase;
}

section {
    padding: 30px 10%;
}

a {
    color: #12846f;
}

a.action, button {
    background: #9be3d6; color: white; border: none; font-size: 13pt; padding: 15px; border-radius: 5px; margin: 10px 0; text-decoration: none; display: inline-block; cursor: pointer;
}

ol {
    text-align: left;
}

li {
    margin: 0.3em;
}

ol ol {
    margin-bottom: 0.6em;
}

img {
    width: 200px; border-radius: 5px;
}

form {
    text-align: left;
    margin: auto;
    width: 300px;
}

label span, label small {
    display: block;
    padding: 9px 0 6px;
}

input, textarea {
    width: 100%;
    font-size: 12pt;
}

button {
    margin-left: 125px;
}

footer {
    padding: 30px 10%; margin: 0; width: 80%; background: #9be3d6; color: white;
}
