body {
    padding: 0; margin: 0; text-align: center; font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

h1 {
    padding: 30px 10%; margin: 0; width: 80%; background: #9be3d6; color: white; text-transform: uppercase;
}

section {
    padding: 30px 10%;
}

ol {
    text-align: left;
}

li {
    margin: 0.3em;
}

ol ol {
    margin-bottom: 0.6em;
}

img {
    width: 200px; border-radius: 5px;
}

button {
    background: #9be3d6; color: white; border: none; font-size: 13pt; padding: 15px; border-radius: 5px;
}

footer {
    padding: 30px 10%; margin: 0; width: 80%; background: #9be3d6; color: white;
}
